asgiref==3.2.10
atomicwrites==1.4.0
attrs==19.3.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
Django==3.0.7
gevent==20.6.2
greenlet==0.4.16
grequests==0.6.0
idna==2.10
importlib-metadata==1.7.0
lxml==4.2.3
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
psycopg2==2.7.5
py==1.9.0
pycparser==2.20
PyGreSQL==5.0.4
pyparsing==2.4.7
pytest==5.4.3
python-docx==0.8.6
pytz==2020.1
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.9
wcwidth==0.2.5
XlsxWriter==1.0.5
zipp==3.1.0
zope.event==4.4
zope.interface==5.1.0
